


{% block title %}Concours index{% endblock %}






    {{ include('cours_c/nav.html.twig') }}
<div class="page-header">
    <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-mailbox"></i>
                </span> events
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>
</div>
<style>
    #search
    {
        width:100%;
    }
    #search2
    {
        width: 15%;
    }
</style>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Recent events</h4>
                <form action="{{ path('search_concours') }}" method="get">
                    <label>  <input value="" id="search" name="nom"  class="form-control " placeholder="search .. "> </label>
                    <button class="btn btn-gradient-success ">search</button>
                </form>
                <div class="table-responsive">
                    <table class="table">
                        <thead>

                        <tr>
                        <tr>
                            <th>IdConcours</th>
                            <th>NomConcours</th>
                            <th>Prix</th>
                            <th>DateDebut</th>
                            <th>DateFin</th>
                            <th>photo</th>
                            <th><a  href="{{ path('tri_concours') }}" class="add btn btn-gradient-secondary font-weight-bold todo-list-add-btn" id="add-task">Sort blogs</a></th>
                            <th><a href="{{ path('concours_new') }}" class="add btn btn-gradient-primary font-weight-bold todo-list-add-btn" id="add-task">+ Add event</a></th></th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for concour in concours %}
                            <tr>
                                <td>{{ concour.idConcours }}</td>
                                <td>{{ concour.nomConcours }}</td>
                                <td>{{ concour.prix }}</td>
                                <td>{{ concour.dateDebut ? concour.dateDebut|date('Y-m-d') : '' }}</td>
                                <td>{{ concour.dateFin ? concour.dateFin|date('Y-m-d') : '' }}</td>
                                <td>{{ concour.img }}</td>
                                <th>

                                    <a href="{{ path('concours_edit', {'idConcours': concour.idConcours }) }}" class="btn btn-gradient-success btn-rounded ">edit</a>


                                </th>
                                <th>{{ include('concours/_delete_form.html.twig') }}</th>

                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="{{ path('reclamation_new') }}">Create new</a>




<!-- content-wrapper ends -->
<!-- partial:partials/_footer.html -->

<!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{{asset('assets/vendors/js/vendor.bundle.base.js')}}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{{asset('assets/vendors/chart.js/Chart.min.js')}}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{{asset('assets/js/off-canvas.js')}}"></script>
<script src="{{asset('assets/js/hoverable-collapse.js')}}"></script>
<script src="{{asset('assets/js/misc.js') }}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="{{asset('assets/js/dashboard.js')}}"></script>
<script src="{{asset('public/assets/js/todolist.js')}}"></script>
<!-- End custom js for this page -->




