<!doctype html>
<html lang="zxx">

<!-- Mirrored from templates.envytheme.com/ketan/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Feb 2021 11:21:26 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{asset('assets2/css/bootstrap.min.css')}}">

    <link rel="stylesheet" href="{{asset('assets2/css/animate.min.css')}}">

    <link rel="stylesheet" href="{{asset('assets2/css/meanmenu.css')}}">

    <link rel="stylesheet" href="{{asset('assets2/css/boxicons.min.css') }}">

    <link rel="stylesheet" href="{{asset('assets2/css/owl.carousel.min.css')}}">

    <link rel="stylesheet" href="{{asset('assets2/css/owl.theme.default.min.css')}}">

    <link rel="stylesheet" href="{{asset('assets2/css/odometer.min.css')}}">

    <link rel="stylesheet" href="{{asset('assets2/css/magnific-popup.min.css')}}">

    <link rel="stylesheet" href="{{asset('assets2/css/imagelightbox.min.css')}}">

    <link rel="stylesheet" href="{{asset('assets2/css/style.css')}}">
    <link rel="stylesheet" href="{{asset('assets2/css/timer.css')}}">
    <link rel="stylesheet" href="{{asset('assets2/css/stage.css')}}">
    <link rel="stylesheet" href="{{asset('assets2/css/responsive.css')}}">

    <title>Magic book</title>
    <link rel="icon" type="image/png" href="{{asset('assets2/img/magic1.png')}}">
</head>
<body>

<div class="preloader">
    <div class="loader">
        <div class="wrapper">
            <div class="circle circle-1"></div>
            <div class="circle circle-1a"></div>
            <div class="circle circle-2"></div>

        </div>
    </div>
</div>


<div class="navbar-area">
    <div class="main-responsive-nav">
        <div class="container">
            <div class="main-responsive-menu">
                <div class="logo">
                    <a href="index.html">
                        <img src="{{asset('assets2/img/magic2.png')}}" alt="image">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="main-navbar">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img src="{{asset('assets2/img/magic2.png')}}" alt="image">
                    <li class="navbar-brand">
                        <a href="contact.html" class="nav-link">
                            Magic book
                        </a>
                    </li>

                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">


                            <li class="nav-item">
                                <a href="{{ path('front') }}" class="nav-link active">
                                    Home
                                </a>
                            </li>


                            <li class="nav-item">
                                <a href="contact.html" class="nav-link">
                                    Login
                                </a>
                            </li>
                        </ul>
                        <div class="others-options d-flex align-items-center">
                            <div class="option-item">
                                <div class="dropdown language-switcher d-inline-block">
                                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span>Language <i class='bx bx-chevron-down'></i></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a href="#" class="dropdown-item d-flex align-items-center">
                                            <img src="{{asset('assets2/img/english.png')}}" class="shadow-sm" alt="flag">
                                            <span>English</span>
                                        </a>
                                        <a href="#" class="dropdown-item d-flex align-items-center">
                                            <img src="{{asset('assets2/img/arab.png')}}" class="shadow-sm" alt="flag">
                                            <span>العربيّة</span>
                                        </a>
                                        <a href="#" class="dropdown-item d-flex align-items-center">
                                            <img src="{{asset('assets2/img/germany.png')}}" class="shadow-sm" alt="flag">
                                            <span>Deutsch</span>
                                        </a>
                                        <a href="#" class="dropdown-item d-flex align-items-center">
                                            <img src="{{asset('assets2/img/portugal.png')}}" class="shadow-sm" alt="flag">
                                            <span>Português</span>
                                        </a>
                                        <a href="#" class="dropdown-item d-flex align-items-center">
                                            <img src="{{asset('assets2/img/china.png')}}" class="shadow-sm" alt="flag">
                                            <span>简体中文</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="option-item">
                                <a href="#" class="default-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
            </nav>


        </div>
    </div>
    <div class="others-option-for-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>
            <div class="container">
                <div class="option-inner">
                    <div class="others-options d-flex align-items-center">
                        <div class="option-item">
                            <div class="dropdown language-switcher d-inline-block">
                                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>Language <i class='bx bx-chevron-down'></i></span>
                                </button>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img src="{{asset('assets2/img/english.png')}}" class="shadow-sm" alt="flag">
                                        <span>English</span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img src="{{asset('assets2/img/arab.png')}}" class="shadow-sm" alt="flag">
                                        <span>العربيّة</span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img src="{{asset('assets2/img/germany.png')}}" class="shadow-sm" alt="flag">
                                        <span>Deutsch</span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img src="{{asset('assets2/img/portugal.png')}}" class="shadow-sm" alt="flag">
                                        <span>Português</span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img src="{{asset('assets2/img/china.png')}}" class="shadow-sm" alt="flag">
                                        <span>简体中文</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="option-item">
                            <a href="#" class="default-btn">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    <div class="main-banner-item">



<div id="milieu">
                <div class="container-fluid">
                    <div class="row align-items-center">

                        </br>
                        <h1 class="numbers">STAGE</h1>



                        <div>

                            <p id="countdown"></p>
                            <h4 class="question">{{ fs.texte}}</h4>
                            <img class="imgstage" src="{{ vich_uploader_asset(fs,'imageFile') }}" alt=""></br>





                            <input id="input" type="text" placeholder="Your answer" />

                          <a onclick="iscorrect()" id="validate" ><button  class="button4"   style="background-color:#4ef18f">Validate</button>
                           </a>                  <canvas id="canvas"></canvas>
                        </div>
                        <audio id="music">
                            <source src="{{asset('assets2/sfx/MUSICBG.mp3')}}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>

                        <audio id="correct">
                            <source src="{{asset('assets2/sfx/correctclick.mp3')}}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>

                        <audio id="wrong">
                            <source src="{{asset('assets2/sfx/wrongclick.mp3')}}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                        <audio id="countdwn">
                            <source src="{{asset('assets2/sfx/clock-ticking-sound-effect.mp3')}}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>


</div>


                    </div>
</div>
















            </div>
        </div>
    </div>
</div>


                        <section class="footer-area pt-100 pb-70">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-footer-widget">
                                            <div class="logo">
                                                <h2>
                                                    <a href="index.html">Ketan</a>
                                                </h2>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <ul class="social">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class='bx bxl-facebook'></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class='bx bxl-twitter'></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class='bx bxl-pinterest-alt'></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class='bx bxl-linkedin'></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-footer-widget">
                                            <h3>Contact Us</h3>
                                            <ul class="footer-contact-info">
                                                <li>
                                                    <i class='bx bxs-phone'></i>
                                                    <span>Phone</span>
                                                    <a href="tel:882569756">882-569-756</a>
                                                </li>
                                                <li>
                                                    <i class='bx bx-envelope'></i>
                                                    <span>Email</span>
                                                    <a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#ff979a939390bf949a8b9e91d19c9092"><span class="__cf_email__" data-cfemail="e8808d848487a8838d9c8986c68b8785">[email&#160;protected]</span></a>
                                                </li>
                                                <li>
                                                    <i class='bx bx-map'></i>
                                                    <span>Address</span>
                                                    175 5th Ave Premium Area, New York, NY 10010, United States
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-footer-widget pl-5">
                                            <h3>Activities</h3>
                                            <ul class="quick-links">
                                                <li>
                                                    <a href="#">Maths Olympiad</a>
                                                </li>
                                                <li>
                                                    <a href="#">Art Competition</a>
                                                </li>
                                                <li>
                                                    <a href="#">English Novels</a>
                                                </li>
                                                <li>
                                                    <a href="#">Science Competition</a>
                                                </li>
                                                <li>
                                                    <a href="#">Teachers Day</a>
                                                </li>
                                                <li>
                                                    <a href="#">World Kids Day</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-footer-widget">
                                            <h3>Photo Gallery</h3>
                                            <ul class="photo-gallery-list">
                                                <li>
                                                    <div class="box">
                                                        <img src="{{asset('assets2/img/footer-gallery/footer-gallery-1.jpg')}}" alt="image">
                                                        <a href="#" target="_blank" class="link-btn"></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="box">
                                                        <img src="{{asset('assets2/img/footer-gallery/footer-gallery-2.jpg')}}" alt="image">
                                                        <a href="#" target="_blank" class="link-btn"></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="box">
                                                        <img src="{{asset('assets2/img/footer-gallery/footer-gallery-3.jpg')}}" alt="image">
                                                        <a href="#" target="_blank" class="link-btn"></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="box">
                                                        <img src="{{asset('assets2/img/footer-gallery/footer-gallery-4.jpg')}}" alt="image">
                                                        <a href="#" target="_blank" class="link-btn"></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="box">
                                                        <img src="{{asset('assets2/img/footer-gallery/footer-gallery-5.jpg')}}" alt="image">
                                                        <a href="#" target="_blank" class="link-btn"></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="box">
                                                        <img src="{{asset('assets2/img/footer-gallery/footer-gallery-6.jpg')}}" alt="image">
                                                        <a href="#" target="_blank" class="link-btn"></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="box">
                                                        <img src="{{asset('assets2/img/footer-gallery/footer-gallery-1.jpg')}}" alt="image">
                                                        <a href="#" target="_blank" class="link-btn"></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="box">
                                                        <img src="{{asset('assets2/img/footer-gallery/footer-gallery-2.jpg')}}" alt="image">
                                                        <a href="#" target="_blank" class="link-btn"></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="box">
                                                        <img src="{{asset('assets2/img/footer-gallery/footer-gallery-3.jpg')}}" alt="image">
                                                        <a href="#" target="_blank" class="link-btn"></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>


                        <div class="copyright-area">
                            <div class="container">
                                <div class="copyright-area-content">
                                    <p>
                                        Copyright © 2021 Ketan. All Rights Reserved by
                                        <a href="https://envytheme.com/" target="_blank">
                                            EnvyTheme
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="go-top">
                            <i class='bx bx-up-arrow-alt'></i>
                        </div>


                        <script src="{{asset('assets2/js/jquery.min.js')}}"></script>

                        <script src="{{asset('assets2/js/popper.min.js')}}"></script>

                        <script src="{{asset('assets2/js/bootstrap.min.js')}}"></script>

                        <script src="{{asset('assets2/js/jquery.meanmenu.js')}}"></script>

                        <script src="{{asset('assets2/js/owl.carousel.min.js')}}"></script>

                        <script src="{{asset('assets2/js/jquery.magnific-popup.min.js')}}"></script>

                        <script src="{{asset('assets2/js/imagelightbox.min.js') }}"></script>

                        <script src="{{asset('assets2/js/odometer.min.js')}}"></script>

                        <script src="{{asset('assets2/js/jquery.appear.min.js')}}"></script>

                        <script src="{{asset('assets2/js/jquery.ajaxchimp.min.js')}}"></script>

                        <script src="{{asset('assets2/js/form-validator.min.js')}}"></script>

                        <script src="{{asset('assets2/js/contact-form-script.js')}}"></script>

                        <script src="{{asset('assets2/js/main.js')}}"></script>

</div>

                        <script>


                            function iscorrect()
                            {
                                var correct= document.getElementById("correct");
                                var wrong= document.getElementById("wrong");





                                if(document.getElementById('input').value===String({{ fs.correction }})) {

                                    correct.play();

                                    var a = document.getElementById('validate'); //or grab it by tagname etc
                                    a.href = "{{ path('stages_next',{'id':fs.jeu.id,'numero':fs.numero+1}) }}"
                                }
                                else
                                    wrong.play();
                            }



                            var myMusic= document.getElementById("music");


                            myMusic.play();
                            var countdwn= document.getElementById("countdwn");








                            const FULL_DASH_ARRAY = 283;
                            const WARNING_THRESHOLD = 10;
                            const ALERT_THRESHOLD = 5;

                            const COLOR_CODES = {
                                info: {
                                    color: "green"
                                },
                                warning: {
                                    color: "orange",
                                    threshold: WARNING_THRESHOLD
                                },
                                alert: {
                                    color: "red",
                                    threshold: ALERT_THRESHOLD
                                }
                            };

                            const TIME_LIMIT = {{ fs.temps }};
                            let timePassed = 0;
                            let timeLeft = TIME_LIMIT;
                            let timerInterval = null;
                            let remainingPathColor = COLOR_CODES.info.color;

                            document.getElementById("countdown").innerHTML = `
<div class="base-timer">
  <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <g class="base-timer__circle">
      <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
      <path
        id="base-timer-path-remaining"
        stroke-dasharray="283"
        class="base-timer__path-remaining ${remainingPathColor}"
        d="
          M 50, 50
          m -45, 0
          a 45,45 0 1,0 90,0
          a 45,45 0 1,0 -90,0
        "
      ></path>
    </g>
  </svg>
  <span id="base-timer-label" class="base-timer__label">${formatTime(
                                timeLeft
                            )}</span>
</div>
`;

                            startTimer();

                            function onTimesUp() {
                                clearInterval(timerInterval);
                            }

                            function startTimer() {
                                timerInterval = setInterval(() => {
                                    timePassed = timePassed += 1;
                                    timeLeft = TIME_LIMIT - timePassed;
                                    document.getElementById("base-timer-label").innerHTML = formatTime(
                                        timeLeft
                                    );
                                    setCircleDasharray();
                                    setRemainingPathColor(timeLeft);
                                    if (timeLeft === 10){
                                        countdwn.play();
                                    }
                                    if (timeLeft === 0) {
                                        onTimesUp();
                                        if (window.confirm('If you click "ok" you would be redirected . Cancel will load this website '))
                                        {
                                            window.location.href='{{ path('stages_next',{'id':fs.jeu.id,'numero':99}) }}';
                                        };
                                    }
                                }, 1000);
                            }

                            function formatTime(time) {
                                const minutes = Math.floor(time / 60);
                                let seconds = time % 60;

                                if (seconds < 10) {
                                    seconds = `0${seconds}`;
                                }

                                return `${minutes}:${seconds}`;
                            }

                            function setRemainingPathColor(timeLeft) {
                                const { alert, warning, info } = COLOR_CODES;
                                if (timeLeft <= alert.threshold) {
                                    document
                                        .getElementById("base-timer-path-remaining")
                                        .classList.remove(warning.color);
                                    document
                                        .getElementById("base-timer-path-remaining")
                                        .classList.add(alert.color);
                                } else if (timeLeft <= warning.threshold) {
                                    document
                                        .getElementById("base-timer-path-remaining")
                                        .classList.remove(info.color);
                                    document
                                        .getElementById("base-timer-path-remaining")
                                        .classList.add(warning.color);
                                }
                            }

                            function calculateTimeFraction() {
                                const rawTimeFraction = timeLeft / TIME_LIMIT;
                                return rawTimeFraction - (1 / TIME_LIMIT) * (1 - rawTimeFraction);
                            }

                            function setCircleDasharray() {
                                const circleDasharray = `${(
                                    calculateTimeFraction() * FULL_DASH_ARRAY
                                ).toFixed(0)} 283`;
                                document
                                    .getElementById("base-timer-path-remaining")
                                    .setAttribute("stroke-dasharray", circleDasharray);
                            }




               //BGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG


                            // Some random colors
                            const colors = ["#3CC157", "#2AA7FF", "#1B1B1B", "#FCBC0F", "#F85F36"];

                            const numBalls = 50;
                            const balls = [];

                            for (let i = 0; i < numBalls; i++) {
                                let ball = document.createElement("div");
                                ball.classList.add("ball");
                                ball.style.background = colors[Math.floor(Math.random() * colors.length)];
                                ball.style.left = `${Math.floor(Math.random() * 100)}vw`;
                                ball.style.top = `${Math.floor(Math.random() * 100)}vh`;
                                ball.style.transform = `scale(${Math.random()})`;
                                ball.style.width = `${Math.random()}em`;
                                ball.style.height = ball.style.width;

                                balls.push(ball);
                                document.getElementById("milieu").append(ball);
                            }

                            // Keyframes
                            balls.forEach((el, i, ra) => {
                                let to = {
                                    x: Math.random() * (i % 2 === 0 ? -11 : 11),
                                    y: Math.random() * 12
                                };

                                let anim = el.animate(
                                    [
                                        { transform: "translate(0, 0)" },
                                        { transform: `translate(${to.x}rem, ${to.y}rem)` }
                                    ],
                                    {
                                        duration: (Math.random() + 1) * 2000, // random duration
                                        direction: "alternate",
                                        fill: "both",
                                        iterations: Infinity,
                                        easing: "ease-in-out"
                                    }
                                );
                            });
















                            //input
                            var canvas = document.getElementById("canvas");
                            var ctx = canvas.getContext("2d");

                            var grd,
                                keys_down = [],
                                letters = [];

                            var symbols=[{k:81,s:"q",x:5},{k:87,s:"w",x:15},{k:69,s:"e",x:25},{k:82,s:"r",x:35},{k:84,s:"t",x:45},{k:89,s:"y",x:55},{k:85,s:"u",x:65},{k:73,s:"i",x:75},{k:79,s:"o",x:85},{k:80,s:"p",x:95},{k:65,s:"a",x:10},{k:83,s:"s",x:20},{k:68,s:"d",x:30},{k:70,s:"f",x:40},{k:71,s:"g",x:50},{k:72,s:"h",x:60},{k:74,s:"j",x:70},{k:75,s:"k",x:80},{k:76,s:"l",x:90},{k:90,s:"z",x:20},{k:88,s:"x",x:30},{k:67,s:"c",x:40},{k:86,s:"v",x:50},{k:66,s:"b",x:60},{k:78,s:"n",x:70},{k:77,s:"m",x:80},{k:48,s:"0",x:90},{k:49,s:"1",x:0},{k:50,s:"2",x:10},{k:51,s:"3",x:20},{k:52,s:"4",x:30},{k:53,s:"5",x:40},{k:54,s:"6",x:50},{k:55,s:"7",x:60},{k:56,s:"8",x:70},{k:57,s:"9",x:80}];

                            function Letter (key) {
                                this.x = findX(key);
                                this.symbol = findS(key);
                                this.color = "rgba(130, 30, 105, "+Math.random()+")";
                                this.size = Math.floor((Math.random() * 40) + 12);
                                this.path = getRandomPath(this.x);
                                this.rotate = Math.floor((Math.random() * Math.PI) + 1);
                                this.percent = 0;
                            }

                            Letter.prototype.draw = function() {
                                var percent= this.percent/100;
                                var xy = getQuadraticBezierXYatPercent(this.path[0],this.path[1],this.path[2],percent);
                                ctx.save();
                                ctx.translate(xy.x, xy.y);
                                ctx.rotate(this.rotate);
                                ctx.font = this.size+"px Arial";
                                ctx.fillStyle = this.color;
                                ctx.fillText(this.symbol, -15, -15);
                                ctx.restore();
                            };

                            Letter.prototype.drawPath = function(){
                                ctx.lineWidth = 1;
                                ctx.beginPath();
                                ctx.moveTo(this.path[0].x, this.path[0].y);
                                ctx.quadraticCurveTo(this.path[1].x, this.path[1].y, this.path[2].x, this.path[2].y);
                                ctx.stroke();
                            }

                            function findX(key){
                                for (var i = 0; i < symbols.length; i++) {
                                    if(symbols[i].k == key){
                                        return (symbols[i].x * canvas.width / 100);
                                    }
                                };
                                return false;
                            }

                            function findS(key){
                                for (var i = 0; i < symbols.length; i++) {
                                    if(symbols[i].k == key){
                                        return symbols[i].s;
                                    }
                                };
                                return false;
                            }

                            function getRandomPath(x){
                                var x_start = x;
                                var x_end = x_start + Math.floor((Math.random() * 400) - 199);

                                return [{
                                    x: x_start,
                                    y: canvas.height
                                },{
                                    x: (x_start + x_end)/2,
                                    y: Math.floor((Math.random() * canvas.height) - canvas.height)
                                },{
                                    x: x_end,
                                    y: canvas.height
                                }];
                            }

                            function drawBackground(){
                                ctx.fillStyle = grd;
                                ctx.fillRect(0, 0, canvas.width, canvas.height);
                            }


                            function getQuadraticBezierXYatPercent(startPt,controlPt,endPt,percent) {
                                var x = Math.pow(1-percent,2) * startPt.x + 2 * (1-percent) * percent * controlPt.x + Math.pow(percent,2) * endPt.x;
                                var y = Math.pow(1-percent,2) * startPt.y + 2 * (1-percent) * percent * controlPt.y + Math.pow(percent,2) * endPt.y;
                                return( {x:x,y:y} );
                            }


                            function resize() {
                                var box = canvas.getBoundingClientRect();
                                canvas.width = box.width;
                                canvas.height = box.height;
                                grd = ctx.createRadialGradient(canvas.width/2, canvas.height/2, 0, canvas.width/2, canvas.height/2, canvas.height);
                             //   grd.addColorStop(0,"#821e69");
                              //  grd.addColorStop(1,"#4f2556");
                            }

                            function draw() {
                                ctx.clearRect(0,0,canvas.width,canvas.height);
                                drawBackground();

                                for (var i = 0; i < letters.length; i++) {
                                    letters[i].percent += 1;
                                    letters[i].draw();
                                    // letters[i].drawPath();
                                    if(letters[i].percent > 100){
                                        letters.splice(i, 1);
                                    }
                                };

                                for (var i = 0; i < keys_down.length; i++) {
                                    if(keys_down[i]){
                                        letters.push(new Letter(i));
                                    }
                                };
                                requestAnimationFrame(draw);
                            }
                            var start_keys = [81,87,69,82,84,89,85,73,79,80];

                            function startAnimation(){
                                setTimeout(function(){
                                    var key = start_keys.pop();
                                    keys_down[key] = true;
                                    setTimeout(function(){
                                        keys_down[key] = false;
                                    },180);
                                    if(start_keys.length > 0){
                                        startAnimation();
                                    }
                                }, 180);
                            }
                            resize();
                            draw();
                            startAnimation();

                            window.onresize = resize;

                            document.getElementById("input").onkeyup = function(event){
                                keys_down[event.keyCode] = false;
                            }

                            document.getElementById("input").onkeydown = function(event){
                                if(event.keyCode == 91 && event.keyCode == 224){
                                    keys_down = [];
                                }
                                else if(event.keyCode >= 65 && event.keyCode <= 90 || event.keyCode >= 48 && event.keyCode <= 57){
                                    keys_down[event.keyCode] = true;
                                }
                            }

                            document.getElementById("input").focus();

                            window.requestAnimationFrame = (function(){
                                return  window.requestAnimationFrame ||
                                    window.webkitRequestAnimationFrame ||
                                    window.mozRequestAnimationFrame ||
                                    window.oRequestAnimationFrame ||
                                    window.msRequestAnimationFrame ||
                                    function (callback) {
                                        window.setTimeout(callback, 1000 / 60);
                                    };
                            })();

                        </script>




</body>

<!-- Mirrored from templates.envytheme.com/ketan/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Feb 2021 11:21:26 GMT -->
</html>