{% extends 'base.html.twig' %}

{% block title %}Stages{% endblock %}

{% block body %}
    <h1>Stages</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stage.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ stage.numero }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ stage.texte }}</td>
            </tr>
            <tr>
                <th>Essai</th>
                <td>{{ stage.essai }}</td>
            </tr>
            <tr>
                <th>Correction</th>
                <td>{{ stage.correction }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ stage.source }}</td>
            </tr>
            <tr>
                <th>Temps</th>
                <td>{{ stage.temps }}</td>
            </tr>
            <tr>
                <th>Jeu</th>
                <td>{{ stage.jeu }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('stages_index') }}">back to list</a>

    <a href="{{ path('stages_edit', {'id': stage.id}) }}">edit</a>

    {{ include('stages/_delete_form.html.twig') }}
{% endblock %}
