{% extends 'base.html.twig' %}

{% block title %}Jeux{% endblock %}

{% block body %}
    <h1>Jeux</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jeux.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ jeux.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ jeux.description }}</td>
            </tr>
            <tr>
                <th>Topscore</th>
                <td>{{ jeux.topscore }}</td>
            </tr>
            <tr>
                <th>Cours</th>
                <td>{{ jeux.cours }}</td>
            </tr>
            <tr>
                <th>Diff</th>
                <td>{{ jeux.diff }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ jeux.source }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('jeux_index') }}">back to list</a>

    <a href="{{ path('jeux_edit', {'id': jeux.id}) }}">edit</a>

    {{ include('jeux/_delete_form.html.twig') }}
{% endblock %}
