
{{ include('front/nav.html.twig') }}



{% block title %}{% endblock %}

{% block body %}

    <section class="teacher-area pt-100 pb-70">
        <div class="container">
            <div class="row align-items-center">
    {% for u in allusers %}
                <div class="col-lg-4 col-md-6">
                    <div class="single-teacher-item">
                        <div class="image">
                            <img src="{{ asset(u.img) }}" alt="image">
                            <div class="content">
                                <h3>{{ u.nomUtilisateur }}</h3>
                                <span>Say hello</span>
                                <ul class="social">
                                    <li>
                                        <a href="{{ path('chat_messagedetails', {'id': u.id}) }}" target="_blank">
                                            <i class='bx bxl-messenger'></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
    {% endfor %}


            </div>
        </div>
    </section>






{% endblock %}







{{ include('front/footer.html.twig') }}

