

{% extends 'base.html.twig' %}
{% block title %}Login page{% endblock %}
{% block body %}



    <html lang="zxx">

    <!-- Mirrored from templates.envytheme.com/ketan/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Feb 2021 11:21:26 GMT -->
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{{asset('assets2/css/bootstrap.min.css')}}">

        <link rel="stylesheet" href="{{asset('assets2/css/animate.min.css')}}">

        <link rel="stylesheet" href="{{asset('assets2/css/meanmenu.css')}}">

        <link rel="stylesheet" href="{{asset('assets2/css/boxicons.min.css') }}">

        <link rel="stylesheet" href="{{asset('assets2/css/owl.carousel.min.css')}}">

        <link rel="stylesheet" href="{{asset('assets2/css/owl.theme.default.min.css')}}">

        <link rel="stylesheet" href="{{asset('assets2/css/odometer.min.css')}}">

        <link rel="stylesheet" href="{{asset('assets2/css/magnific-popup.min.css')}}">

        <link rel="stylesheet" href="{{asset('assets2/css/imagelightbox.min.css')}}">

        <link rel="stylesheet" href="{{asset('assets2/css/style.css')}}">

        <link rel="stylesheet" href="{{asset('assets2/css/responsive.css')}}">
        <title>Magic book</title>
        <link rel="icon" type="image/png" href="{{asset('assets2/img/magic1.png')}}">
    </head>
<body>

<div class="preloader">
    <div class="loader">
        <div class="wrapper">
            <div class="circle circle-1"></div>
            <div class="circle circle-1a"></div>
            <div class="circle circle-2"></div>

        </div>
    </div>
</div>


<div class="navbar-area">
    <div class="main-responsive-nav">
        <div class="container">
            <div class="main-responsive-menu">
                <div class="logo">
                    <a href="index.html">
                        <img src="{{asset('assets2/img/magic2.png')}}" alt="image">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="main-navbar">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img src="{{asset('assets2/img/magic2.png')}}" alt="image">
                    <li class="navbar-brand">
                        <a href="contact.html" class="nav-link">
                            Magic book
                        </a>
                    </li>

                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">


                            <li class="nav-item">
                                <a href="{{ path('front') }}" class="nav-link active">
                                    Home
                                </a>
                            </li>


                            <li class="nav-item">
                                <a href="contact.html" class="nav-link">
                                    Login
                                </a>
                            </li>
                        </ul>
                        <div class="others-options d-flex align-items-center">
                            <div class="option-item">
                                <div class="dropdown language-switcher d-inline-block">
                                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span>Language <i class='bx bx-chevron-down'></i></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a href="#" class="dropdown-item d-flex align-items-center">
                                            <img src="{{asset('assets2/img/english.png')}}" class="shadow-sm" alt="flag">
                                            <span>English</span>
                                        </a>
                                        <a href="#" class="dropdown-item d-flex align-items-center">
                                            <img src="{{asset('assets2/img/arab.png')}}" class="shadow-sm" alt="flag">
                                            <span>العربيّة</span>
                                        </a>
                                        <a href="#" class="dropdown-item d-flex align-items-center">
                                            <img src="{{asset('assets2/img/germany.png')}}" class="shadow-sm" alt="flag">
                                            <span>Deutsch</span>
                                        </a>
                                        <a href="#" class="dropdown-item d-flex align-items-center">
                                            <img src="{{asset('assets2/img/portugal.png')}}" class="shadow-sm" alt="flag">
                                            <span>Português</span>
                                        </a>
                                        <a href="#" class="dropdown-item d-flex align-items-center">
                                            <img src="{{asset('assets2/img/china.png')}}" class="shadow-sm" alt="flag">
                                            <span>简体中文</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="option-item">
                                <a href="#" class="default-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
            </nav>


        </div>
    </div>
    <div class="others-option-for-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>
            <div class="container">
                <div class="option-inner">
                    <div class="others-options d-flex align-items-center">
                        <div class="option-item">
                            <div class="dropdown language-switcher d-inline-block">
                                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>Language <i class='bx bx-chevron-down'></i></span>
                                </button>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img src="{{asset('assets2/img/english.png')}}" class="shadow-sm" alt="flag">
                                        <span>English</span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img src="{{asset('assets2/img/arab.png')}}" class="shadow-sm" alt="flag">
                                        <span>العربيّة</span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img src="{{asset('assets2/img/germany.png')}}" class="shadow-sm" alt="flag">
                                        <span>Deutsch</span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img src="{{asset('assets2/img/portugal.png')}}" class="shadow-sm" alt="flag">
                                        <span>Português</span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img src="{{asset('assets2/img/china.png')}}" class="shadow-sm" alt="flag">
                                        <span>简体中文</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="option-item">
                            <a href="#" class="default-btn">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-banner-area item-bg3">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-banner-content">
                    <h2>Confirmation code</h2>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Login</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <script defer src="face-api.min.js"></script>
    <script defer src="script.js"></script>
</div>
<style>
    .error-content
    {
        color: orangered;
        position: absolute;
        left: 800px;
    }
</style>









<section class="login-area ptb-100">
    <div class="container">

        <div class="login-form">

            <h2>Please enter your confirmation code :</h2>



            <style>
                .hi
                {

                    height: 50%;
                    width: 50%;
                }
                .hi2
                {
                    position: relative;
                    bottom:50px;
                }
            </style>

            <form action="{{ path('confirm_code') }}" method="get">
                <div class="form-group">
                    <input type="text" class="form-control"  name="code"  placeholder="Code">
                </div>
                <button type="submit">Send</button>


            </form>








            <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-check">


                        </div>
                    </div>

                </div>

        </div>
    </div>
</section>
<script src="{{asset('assets2/js/jquery.min.js')}}"></script>

<script src="{{asset('assets2/js/popper.min.js')}}"></script>

<script src="{{asset('assets2/js/bootstrap.min.js')}}"></script>

<script src="{{asset('assets2/js/jquery.meanmenu.js')}}"></script>

<script src="{{asset('assets2/js/owl.carousel.min.js')}}"></script>

<script src="{{asset('assets2/js/jquery.magnific-popup.min.js')}}"></script>

<script src="{{asset('assets2/js/imagelightbox.min.js') }}"></script>

<script src="{{asset('assets2/js/odometer.min.js')}}"></script>

<script src="{{asset('assets2/js/jquery.appear.min.js')}}"></script>

<script src="{{asset('assets2/js/jquery.ajaxchimp.min.js')}}"></script>

<script src="{{asset('assets2/js/form-validator.min.js')}}"></script>

<script src="{{asset('assets2/js/contact-form-script.js')}}"></script>

<script src="{{asset('assets2/js/main.js')}}"></script>


{%endblock  %}