

{{ include('front/nav.html.twig') }}

<div class="page-banner-area item-bg1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-banner-content">
                    <h2>Courses</h2>
                    <ul>
                        <li>
                            <a href="{{ path('front_log') }}">Home</a>
                        </li>
                        <li>Courses</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<section class="class-area pt-100 pb-100">

    <div class="container">
        <div class="row">
            {% for cour in cours %}
            <div class="col-lg-4 col-md-6">
                <div class="single-class">
                    <div class="class-image">
                        <a href="#">
                            <img src="{{ asset (cour.lien)}}" alt="image">
                        </a>
                    </div>
                    <div class="class-content">
                        <div class="price">{{ cour.domaine }}</div>
                        <h3>
                            <a href="#">{{ cour.nomCours }}</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <ul class="class-list">
                            <li>
                                <span>Age:</span>
                                3-5 Year
                            </li>

                            <li>
                                <span>Seat:</span>
                                25
                            </li>
                        </ul>
                        <div class="class-btn">
                            <td> <a href="{{ path('cours_detail', {'id': cour.idCours}) }}"class="default-btn">Check course</a></td>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    <div class="col-lg-12 col-md-12">
        <div class="pagination-area">
            <a href="#" class="prev page-numbers">
                <i class='bx bx-chevron-left'></i>
            </a>
            <a href="#" class="page-numbers current" aria-current="page">1</a>
            <a href="#" class="next page-numbers">
                <i class='bx bx-chevron-right'></i>
            </a>
        </div>
    </div>
    </div>
    </div>
    <div class="class-shape">
        <div class="shape-1">
            <img src="assets/img/class/class-shape-1.png" alt="image">
        </div>
        <div class="shape-2">
            <img src="assets/img/class/class-shape-2.png" alt="image">
        </div>
    </div>
</section>




















<section class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <h2>
                            <a href="index.html">Ketan</a>
                        </h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <ul class="social">
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-pinterest-alt'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Contact Us</h3>
                    <ul class="footer-contact-info">
                        <li>
                            <i class='bx bxs-phone'></i>
                            <span>Phone</span>
                            <a href="tel:882569756">882-569-756</a>
                        </li>
                        <li>
                            <i class='bx bx-envelope'></i>
                            <span>Email</span>
                            <a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#ff979a939390bf949a8b9e91d19c9092"><span class="__cf_email__" data-cfemail="e8808d848487a8838d9c8986c68b8785">[email&#160;protected]</span></a>
                        </li>
                        <li>
                            <i class='bx bx-map'></i>
                            <span>Address</span>
                            175 5th Ave Premium Area, New York, NY 10010, United States
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Activities</h3>
                    <ul class="quick-links">
                        <li>
                            <a href="#">Maths Olympiad</a>
                        </li>
                        <li>
                            <a href="#">Art Competition</a>
                        </li>
                        <li>
                            <a href="#">English Novels</a>
                        </li>
                        <li>
                            <a href="#">Science Competition</a>
                        </li>
                        <li>
                            <a href="#">Teachers Day</a>
                        </li>
                        <li>
                            <a href="#">World Kids Day</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Photo Gallery</h3>
                    <ul class="photo-gallery-list">
                        <li>
                            <div class="box">
                                <img src="{{asset('assets2/img/footer-gallery/footer-gallery-1.jpg')}}" alt="image">
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="{{asset('assets2/img/footer-gallery/footer-gallery-2.jpg')}}" alt="image">
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="{{asset('assets2/img/footer-gallery/footer-gallery-3.jpg')}}" alt="image">
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="{{asset('assets2/img/footer-gallery/footer-gallery-4.jpg')}}" alt="image">
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="{{asset('assets2/img/footer-gallery/footer-gallery-5.jpg')}}" alt="image">
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="{{asset('assets2/img/footer-gallery/footer-gallery-6.jpg')}}" alt="image">
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="{{asset('assets2/img/footer-gallery/footer-gallery-1.jpg')}}" alt="image">
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="{{asset('assets2/img/footer-gallery/footer-gallery-2.jpg')}}" alt="image">
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="{{asset('assets2/img/footer-gallery/footer-gallery-3.jpg')}}" alt="image">
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>







{{ include('front/footer.html.twig') }}
</body>

<!-- Mirrored from templates.envytheme.com/ketan/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Feb 2021 11:21:26 GMT -->
</html>