{{ include('front/nav.html.twig') }}



<div class="page-banner-area item-bg4">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-banner-content">
                    <h2>Class Details</h2>
                    <ul>
                        <li>
                            <a href="{{ path('front_log') }}">Home</a>
                        </li>
                        <li>Class Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="class-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="class-details-desc">
                    <div class="class-desc-image">
                        <img src="{{ asset(c.lien) }}" alt="image">
                    </div>
                    <div class="tab class-details-tab">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <ul class="tabs">

                                    <li>  <a onclick="play()"  id="start" class="default-btn" >Play text</a>
                                        </li>
                                    <li><a onclick="stop()"  id="stop" class="default-btn" >Stop</a></li>

                                </ul>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="tab_content">
                                    <div class="tabs_item">
                                        <div class="class-desc-content">
                                            <h3>Education Lessons</h3>
                                            <p id="word">{{ word }}</p>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="class-details-information">
                    <h3>Course Information</h3>
                    <ul>
                        <li>
                            <span>Course name:</span>
                            {{ c.nomCours }}
                        </li>
                        <li>
                            <span>Course domain:</span>
                            {{ c.domaine }}
                        </li>

                    </ul>
                </div>

<style>
#play


</style>



            </div>

    </div>
</section>



<script src="{{ asset('./textToSpeech.js') }}"></script>


{{ include('front/footer.html.twig') }}