<section class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <h2>
                            <a href="index.html">Magic book</a>
                        </h2>
                    </div>
                    <p>We hope you enjoy our website and more importantly you learn a lot of things.</p>
                    <ul class="social">
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-pinterest-alt'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Contact Us</h3>
                    <ul class="footer-contact-info">
                        <li>
                            <i class='bx bxs-phone'></i>
                            <span>Phone</span>
                            <a href="tel:882569756">+216 72 646 050 </a>
                        </li>
                        <li>
                            <i class='bx bx-envelope'></i>
                            <span>Email</span>
                            <a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#ff979a939390bf949a8b9e91d19c9092"><span class="__cf_email__" data-cfemail="e8808d848487a8838d9c8986c68b8785">[email&#160;protected]</span></a>
                        </li>
                        <li>
                            <i class='bx bx-map'></i>
                            <span>Address</span>
                            87, Avenue Jugurtha 1082 Mutuelleville-Tunis
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Activities</h3>
                    <ul class="quick-links">
                        <li>
                            <a href="#">Maths Olympiad</a>
                        </li>
                        <li>
                            <a href="#">Art Competition</a>
                        </li>
                        <li>
                            <a href="#">English Novels</a>
                        </li>
                        <li>
                            <a href="#">Science Competition</a>
                        </li>
                        <li>
                            <a href="#">Teachers Day</a>
                        </li>
                        <li>
                            <a href="#">World Kids Day</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Photo Gallery</h3>
                    <ul class="photo-gallery-list">
                        <li>
                            <div class="box">
                                <img src="{{asset('assets2/img/footer-gallery/footer-gallery-1.jpg')}}" alt="image">
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="{{asset('assets2/img/footer-gallery/footer-gallery-2.jpg')}}" alt="image">
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="{{asset('assets2/img/footer-gallery/footer-gallery-3.jpg')}}" alt="image">
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="{{asset('assets2/img/footer-gallery/footer-gallery-4.jpg')}}" alt="image">
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="{{asset('assets2/img/footer-gallery/footer-gallery-5.jpg')}}" alt="image">
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="{{asset('assets2/img/footer-gallery/footer-gallery-6.jpg')}}" alt="image">
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="{{asset('assets2/img/footer-gallery/footer-gallery-1.jpg')}}" alt="image">
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="{{asset('assets2/img/footer-gallery/footer-gallery-2.jpg')}}" alt="image">
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="{{asset('assets2/img/footer-gallery/footer-gallery-3.jpg')}}" alt="image">
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="go-top">
    <i class='bx bx-up-arrow-alt'></i>
</div>


<script src="{{asset('assets2/js/jquery.min.js')}}"></script>

<script src="{{asset('assets2/js/popper.min.js')}}"></script>

<script src="{{asset('assets2/js/bootstrap.min.js')}}"></script>

<script src="{{asset('assets2/js/jquery.meanmenu.js')}}"></script>

<script src="{{asset('assets2/js/owl.carousel.min.js')}}"></script>

<script src="{{asset('assets2/js/jquery.magnific-popup.min.js')}}"></script>

<script src="{{asset('assets2/js/imagelightbox.min.js') }}"></script>

<script src="{{asset('assets2/js/odometer.min.js')}}"></script>

<script src="{{asset('assets2/js/jquery.appear.min.js')}}"></script>

<script src="{{asset('assets2/js/jquery.ajaxchimp.min.js')}}"></script>

<script src="{{asset('assets2/js/form-validator.min.js')}}"></script>

<script src="{{asset('assets2/js/contact-form-script.js')}}"></script>

<script src="{{asset('assets2/js/main.js')}}"></script>
</body>

<!-- Mirrored from templates.envytheme.com/ketan/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Feb 2021 11:21:26 GMT -->
</html>