{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}





{% block body %}






    {{ include('cours_c/nav.html.twig') }}
        <!-- partial -->

                <div class="page-header">
                    <h3 class="page-title">
                <span class="page-title-icon bg-gradient-warning     text-white mr-2">
                  <i class="mdi mdi-book"></i>
                </span> Users
                    </h3>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">
                                <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                            </li>
                        </ul>
                    </nav>
                </div>


                </tr>
                </thead>
                <tbody>

                <tr>






                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Recent Tickets</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Age</th>
                                            <th>Status</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th><a  href="{{ path('user_new2') }}" class="add btn btn-gradient-primary font-weight-bold todo-list-add-btn" id="add-task">+ Add User</a></th>
                                           <th><a  href="{{ path('user_tri') }}" class="add btn btn-gradient-secondary font-weight-bold todo-list-add-btn" id="add-task">Sort User</a></th>


                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in users %}
                                        <tr>

                                            <td>
                                                <img src="{{  asset(user.img)  }}" class="mr-2" alt="image">{{ user.nom }} {{ user.prenom }}
                                            </td>
                                            <td> {{ user.age }} </td>
                                            <td>
                                                {% if user.status == 0 %}
                                                <label class="badge badge-gradient-danger">Blocked</label>
                                                {% else %}
                                                <label class="badge badge-gradient-success">Confirmed</label>
                                                    {% endif %}
                                            </td>
                                            <td> {{  user.email }}</td>
                                            <td>{{ user.role }}</td>
                                                    <td> <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-gradient-success btn-rounded btn-fw">edit</a></td>

                                            <td> {{ include('user/_delete_form.html.twig') }}</td>
                                        </tr>
                                                    {% else %}
                                                        <tr>
                                                            <td colspan="16">no records found</td>
                                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->

                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{{asset('assets/vendors/js/vendor.bundle.base.js')}}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{{asset('assets/vendors/chart.js/Chart.min.js')}}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{{asset('assets/js/off-canvas.js')}}"></script>
    <script src="{{asset('assets/js/hoverable-collapse.js')}}"></script>
    <script src="{{asset('assets/js/misc.js') }}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{{asset('assets/js/dashboard.js')}}"></script>
    <script src="{{asset('public/assets/js/todolist.js')}}"></script>
    <!-- End custom js for this page -->


    {% endblock %}
